analysis/simulator_finetune/checkpoint-1860/optimizer.pt
analysis/simulator_finetune/checkpoint-1860/model.safetensors
analysis/simulator_finetune/checkpoint-1890/optimizer.pt
analysis/simulator_finetune/checkpoint-1890/model.safetensors
datageneration/esm35M_500kdataset_k30_optimized.json
